.header-container {
    height: 42px;
    padding-right: 205px;
}

.header-wrapper {
    width: 1012px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.search-wrapper-wrapper {
    background-color: #fff;
    border: 1px solid #3b5998;
    border-radius: 3px;
    box-sizing: border-box;
    height: 26px;
    left: -1px;
    margin-left: 10px;
    margin-top: 0;
    max-width: 448px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 48px;
    width: 100%;
    position: relative;
}

.search-wrapper-wrapper > input {
    width: calc(100% - 26px);
    border: none;
    height: 100%;
}

.search-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.header-search-container {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
}

.header-nav-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.my-profile-home-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 15px;
}

.search-icon-container {
    background: #f6f7f9;
    border-radius: 0 2px 2px 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 1px 16px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 0px;
    z-index: 1;
    height: 24px;
}

.my-profile-container {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    position: relative;
}

.my-profile-container > img {
    border-radius: 50px;
    margin-right: 10px;
}

.notifications-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notifications-container > img:nth-child(2) {
    margin: 0 10px;
}

.my-profile-container:hover {
    background: rgba(0, 0, 0, .1);
}

.home-container {
    padding: 3px 10px 5px;
}

.home-container:hover {
    background: rgba(0, 0, 0, .1);
}

.my-profile-container:after {
    content: '';
    height: 60%;
    width: 1px;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, .1);
}

.notifications-container > img:hover {
    opacity: 0.8;
}

.notifications-container > img {
    opacity: 0.6;
    cursor: pointer;
}

.help-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    position: relative;
    padding-left: 15px;
}

.help-container > img {
    opacity: 0.6;
    cursor: pointer;
}

.help-container:after {
    content: '';
    position: absolute;
    height: 80%;
    width: 1px;
    background: rgba(0, 0, 0, .1);
    left: 0;
}

.help-container > img:last-child {
    margin-left: 10px;
}

.help-container > img:hover {
    opacity: 0.8;
}