.header-container {
    height: 42px;
    padding-right: 205px;
    position:  fixed;
    width:  100%;
    top:  0;
    z-index:  100;
}

.header-wrapper {
    width: 1012px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.search-wrapper-wrapper {
    background-color: #fff;
    border: 1px solid #3b5998;
    border-radius: 3px;
    box-sizing: border-box;
    height: 26px;
    left: -1px;
    margin-left: 10px;
    margin-top: 0;
    max-width: 448px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 48px;
    width: 100%;
    position: relative;
}

.search-wrapper-wrapper > input {
    width: calc(100% - 26px);
    border: none;
    height: 100%;
}

.search-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.header-search-container {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
}

.header-nav-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.my-profile-home-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 15px;
}

.search-icon-container {
    background: #f6f7f9;
    border-radius: 0 2px 2px 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 1px 16px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 0px;
    z-index: 1;
    height: 24px;
}

.my-profile-container {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    position: relative;
}

.my-profile-container > img {
    border-radius: 50px;
    margin-right: 10px;
}

.notifications-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notifications-container > img:nth-child(2) {
    margin: 0 10px;
}

.my-profile-container:hover {
    background: rgba(0, 0, 0, .1);
}

.home-container {
    padding: 3px 10px 5px;
}

.home-container:hover {
    background: rgba(0, 0, 0, .1);
}

.my-profile-container:after {
    content: '';
    height: 60%;
    width: 1px;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, .1);
}

.notifications-container > img:hover {
    opacity: 0.8;
}

.notifications-container > img {
    opacity: 0.6;
    cursor: pointer;
}

.help-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    position: relative;
    padding-left: 15px;
}

.help-container > img {
    opacity: 0.6;
    cursor: pointer;
}

.help-container:after {
    content: '';
    position: absolute;
    height: 80%;
    width: 1px;
    background: rgba(0, 0, 0, .1);
    left: 0;
}

.help-container > img:last-child {
    margin-left: 10px;
}

.help-container > img:hover {
    opacity: 0.8;
}

.body-container {
    padding-right: 205px;
    padding-top:  42px;
    margin-bottom: 100px;
}

.body-wrapper {
    margin: 12px auto 0;
    display: flex;
    justify-content: space-between;
    width: 1012px;
    position:  relative;
    align-items:  flex-start;
}

.body-left-container {
    width: 185px;
    position:  sticky;
    top: 50px;
}

.body-middle-container {
    width: 500px;
}

.body-right-container {
    width: 310px;
    position: sticky;
    top: 50px;
}

.user-container > img {
    border-radius: 50px;
    margin-right: 10px;
}

.user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.shortcuts-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 3px 5px;
    margin: 2px 0;
    cursor: pointer;
    left: -5px;
}

.shortcuts-container > .other {
    position: absolute;
    width: 15px;
    right: 10px;
    visibility: hidden;
}

.shortcuts-container.active > .other {
    visibility: visible;
}

.shortcuts-container.active > .unseen {
    visibility: hidden;
}

.shortcuts-container > span {
    margin-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70%;
}

.shortcuts-container.active > span {
    font-weight: bold;
}

.shortcuts-container.active {
    background-color: #f6f7f9;
    border: 1px solid #dddfe2;
}

.shortcuts-container:hover {
    background-color: #f6f7f9;
    border: 1px solid #dddfe2;
    margin: -1px;
}

.shortcuts-container.active:hover {
    margin: 2px 0;
}

.news-feed-messenger-container {
    margin-top: 15px;
}

.shortcuts-container > .unseen {
    text-align: right;
    position: absolute;
    right: 5px;
    visibility: visible;
}

.shortcuts-container:hover .unseen {
    visibility: hidden;
}

.shortcuts-container:hover .other {
    visibility: visible;
}

.shortcuts-wrapper > p {
    margin-bottom: 5px;
}

.shortcuts-container.see-more:hover {
    background-color: transparent;
    border: none;
    margin: 2px 0;
}

.shortcuts-container.see-more > .rotate {
    transform: rotate(90deg);
}

.shortcuts-container.see-more:hover > span {
    text-decoration: underline;
}

.create-container > span.fc-blue:hover {
    text-decoration: underline;
}

.facebook-story > img {
    max-width: 48px;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: 0 0 0 2px #4080ff;
    margin-right: 10px;
}

.facebook-story {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.stories-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stories-container-header > img {
    max-width: 15px;
}

.stories-container {
    padding: 5px 15px;
    border: 1px solid #dddfe2;
}

.story-author-time > p {
    margin: 0;
}

.facebook-story:hover .story-author-time > p:first-child {
    text-decoration: underline;
}

.stories-explain-container > .explain {
    visibility: hidden;
    display: none;
}

.stories-explain-container > img {
    max-width: 15px;
    height: 4px;
    padding: 10px;
    box-sizing: content-box;
}

.stories-explain-container > p:hover ~ .explain {
    display: block;
    position: absolute;
    z-index: 1;
    visibility: visible;
    width: 740%;
    padding: 6px 10px;
    margin-top: -5px;
    margin-left: 5px;
}

.stories-explain-container {
    position: relative;
}

.stories-explain-container > p:hover {
    text-decoration: underline;
}

.stories-explain-container > img:hover ~ .explain {
    display: block;
    position: absolute;
    z-index: 1;
    visibility: visible;
    width: auto;
    padding: 6px 10px;
    margin-top: -5px;
    margin-left: 5px;
}

.stories-explain-container > p:hover ~ .explain:after,
.stories-explain-container > img:hover ~ .explain:after {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    top: -5px;
    left: 5px;
    position: absolute;
}

.birthdays-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;
}

.birthdays-container > img {
    margin-right: 5px;
}

.birthdays-container-wrapper {
    padding: 7px;
    margin-top: 10px;
    border: 1px solid #dddfe2;

}

.birthdays-container:hover {
    background-color: #f6f7f9;
    border-radius: 2px;
    cursor: pointer;
}

.post-title-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 10px 0;
}

.fb-friend-post {
    border: 1px solid #dddfe2;
}

.post-title-container > img {
    width: 15px;
}

.post-author-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.post-author-info > img {
    border-radius: 50px;
    max-width: 45px;
}

.post-author > p {
    margin: 0;
}

.post-date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.post-date > span {
    margin-right: 3px;
}

.post-author {
    margin-left: 5px;
}

.post-date > img {
    max-width: 13px;
}

.post-body > img {
    width: 100%;
}

.post-body-container {
    padding: 0 10px 10px;
}

.post-action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8px;
}

.post-body > p {
    margin: 7px 0;
}

.emotions-tooltip-wrapper {
    display: none;
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.action-container > img {
    max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
}

.action-container.emoticons:hover .emotions-tooltip-wrapper {
    display: inline-block;
    position: absolute;
    top: calc(-100% - 21px);
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
}

.emotions-tooltip {
    display: flex;
    border-radius: 50px;
    padding: 7px 10px 1px;

}

.emotion-container:hover .emotion-desc {
    display: inline-block;
    position: absolute;
    top: -20px;
}

.emotion-desc {
    display: none;
}

.emotion-container:hover > img {
    transform: scale(1.2);
}

.emotion-container {
    margin: 0 3px;
    transition: all .3s ease;
}

.emotion-container > img {
    transition: all 0.2s ease;
}

.post-actions-container {
    background-color: #f2f3f6;
    border-top: 1px solid #dddfe2;
    padding: 10px;
}

.written-emotions {
    display: flex;
    align-items: center;
}

.write-comment-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.write-comment-container > img {
    border-radius: 50px;
    margin-right: 7px;
    width: 35px;
}

.write-comment {
    width: 100%;
    position: relative;
}

.write-comment > input {
    width: 100%;
    height: 36px;
    border-radius: 50px;
    border: 1px solid #e3e3e3;
    padding: 0 10px;
}

.comment-actions {
    position: absolute;
    right: 10px;
    top: 7px;
}

.written-emotions > img {
    margin-right: 4px;
}

.my-status-container {
    border: 1px solid #dddfe2;
    margin-bottom: 10px;
}

.status-container-top {
    background-color: #f2f3f6;
    display: flex;
}

.my-status-types {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 6px 8px;
    border-bottom: 1px solid #ced0d4;
}

.my-status-type {
    margin-right: 19px;
    display: flex;
    align-items: center;
    position: relative;
}

.my-status-type > img {
    margin-right: 3px;
}

.my-status-type:after {
    content: '';
    height: 75%;
    width: 1px;
    background-color: #ced0d4;
    right: -9px;
    position: absolute;
}

.my-status-type:last-child:after {
    display: none;
}


.my-status-actions {
    display:  flex;
    align-items:  center;
    justify-content: flex-start;
    margin-top:  10px;
    padding-top:  10px;
    border-top: 1px solid #e3e3e3;
}

.my-status-action {
    display:  flex;
    align-items:  center;
    justify-content:  flex-start;
    padding: 5px 10px;
    border-radius:  50px;
    background-color: #f2f3f6;
    height:  33px;
    margin-right:  10px;
}

.my-status-action:last-child > img {
    width: 20px;
}

.my-status-action:last-child {
    padding: 5px 15px;
}

.status-container-bottom {
    padding:  10px;
}

.my-status-text > img {
    width:  40px;
    border-radius:  50px;
    margin-right:  10px;
}

.my-status-text > input {
    border:  none;
    width:  100%;
}

.my-status-text {
    display:  flex;
    align-items:  center;
    justify-content:  flex-start;
    padding-bottom:  10px;
}

.language-container {
    padding:  10px;
    border: 1px solid #dddfe2;
    display:  flex;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.language-container > p {
    margin: 0;
}

.plus-btn {
    padding: 2px 12px 4px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    display:  inline-block;
    background-color: #f2f3f6;
}

.right-bottom-txt {
    margin: 0 10px;
}

.chat-container {
    position: fixed;
    right:  0;
    top:  42px;
    height:  calc(100% - 42px);
    width: 205px;
    border-left: 1px solid #ccc;
    overflow: scroll;
}

.suggested-pages-container {
    display:  flex;
    align-items:  center;
    justify-content:  space-between;
    margin-top:  10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
}

.chat-container-top {
    padding: 8px;
}

.chat-top-title {
    display:  flex;
    align-items:  center;
    justify-content:  space-between;
}

.suggested-pages > img {
    width: 45px;
    border-radius:  50px;
}

.suggested-pages {
    display:  flex;
    align-items:  center;
    justify-content:  space-between;
    width: 80%;
}

.chat-container-middle .shortcuts-wrapper > p {
    margin-top:  0;
}

.chat-container-middle {
    padding:  8px;
}

.chat-container-middle .shortcuts-container > img {
    width: 35px;
    border-radius:  50px;
}

.shortcuts-container > .online {
    position:  absolute;
    right:  0;
    visibility:  visible;
}

.shortcuts-container > img.online {
    width: auto;
}

.chat-container-middle .shortcuts-container:hover {
    background-color: transparent;
    border: none;
    margin: 2px 0;
}

.chat-container-middle .shortcuts-wrapper {
    margin-bottom:  15px;
}

.chat-container-bottom {
    position:  fixed;
    height: 30px;
    bottom:  0;
    right:  0;
    z-index:  10;
    width: 204px;
    background-color: #f6f7f9;
    display:  flex;
    align-items:  center;
    justify-content:  space-between;
    padding: 5px;
}

.chat-container-bottom > input {
    border:  none;
    background-color: #f6f7f9;
    padding-left:  4px;
    max-width:  110px;
}

.chat-container-bottom > img {
    margin-left:  5px;
}